<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
<head>
  <meta charset="utf-8">
  <title>Webpack ES.next Boilerplate</title>

  <!-- List dependencies in the head for faster discovery/preloading -->
  <script type="module" src="/{{ 'runtime.js' | revision }}"></script>
  <script type="module" src="/{{ 'main.js' | revision }}"></script>
</head>
<body>
  <div id='react-app' >
</body>
</html>
